
<app-blogs [blogList]="blogList$ | async"
           [admin]="admin$ | async"

           (deleteBlog)="onDeleteBlog($event)"

           (disabledLike)="onDisabledLike($event)"
           (clickDisLike)="onClickDisLike($event)"

           (editBlockTopic)="onEditBlockTopic($event)"
           (editBlockText)="onEditBlockText($event)"
           (editBlockTags)="onEditBlockTags($event)"




></app-blogs>



<!--           5-е  (disabledLike)="onDisabledLike($event)"  потом в ts создаём onDisabledLike-->

<!--          *8 виджет слушает событие  onEditBlock  -->

