
<mat-toolbar  class="menu__wrapper">
  <div class="menu__burger">
  <button mat-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="">Главная</button>
    <button mat-menu-item routerLink="blogs/">БЛОГИ</button>
    <button mat-menu-item routerLink="charts/">СТАТИСТИКА</button>
    <button mat-menu-item routerLink="login/" *ngIf="!loadSelector">ВОЙТИ</button>
    <button mat-menu-item routerLink="login/" *ngIf="loadSelector" (click)="onlogOut()">ВЫЙТИ</button>
  </mat-menu>
  </div>

  <div class="menu__items">
    <div class="menu__item" routerLink="">Главная</div>
    <div class="menu__item" routerLink="blogs/" *ngIf="loadSelector">БЛОГИ</div>
    <div class="menu__item" routerLink="charts/" *ngIf="loadSelector">СТАТИСТИКА</div>
    <div class="menu__item" routerLink="login/" *ngIf="!loadSelector">ВОЙТИ</div>
    <div class="menu__item" (click)="onlogOut()" *ngIf="loadSelector" >ВЫЙТИ</div>
  </div>
</mat-toolbar>

