.menu__wrapper{

}
.menu__burger{
  display: none;
}
.menu__items{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.menu__item{
  margin: 0 15px 0 15px;
  cursor: pointer;
}
@media (max-width: 800px) {
  .menu__burger{
    display: block;
  }
  .menu__items{

    display: none;
  }
}
