<mat-card >

<mat-list role="list" [routerLink]="['/blogs',blog.id]" class="cursor_point">


  <mat-list-item role="listitem"><b>Тема:</b>

    <span matBadge="{{likes.length}}" matBadgeOverlap="false">{{blog.topic}}</span>
  </mat-list-item>
  <mat-list-item role="listitem"><b>Имя автора:</b>   {{blog.name}} </mat-list-item>
  <mat-list-item role="listitem"><b>Дата публикации: </b>   {{blog.dataCreature | date:'MM/dd/yyyy'}}</mat-list-item>
  <mat-list-item role="listitem"><b>Количество лайков:</b> {{blog.like_position| numberInArray}}</mat-list-item>
  <mat-list-item role="listitem"><b>Теги:</b>   {{blog.tegs}} </mat-list-item>
</mat-list>


<button mat-flat-button   color="primary" class="button_item"
        (click)="onDeleteBlog()"
        *ngIf="admin">удалить блог</button>
<button mat-flat-button   color="primary" class="button_item"
        (click)="onEditBlog()"
        *ngIf="admin">Редактировать блог</button>
<br>
  <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
</mat-card>

