<mat-card >

<mat-list role="list" [routerLink]="['/blogs',blog.id]" class="cursor_point">


  <mat-list-item role="listitem">тема:   {{blog.topic}}</mat-list-item>
  <mat-list-item role="listitem">Имя автора:   {{blog.name}} </mat-list-item>
  <mat-list-item role="listitem">Время создания:    {{blog.dataCreature}}</mat-list-item>
  <mat-list-item role="listitem">Количество лайков: {{blog.like_position| numberInArray}}</mat-list-item>

</mat-list>


<button mat-flat-button   color="primary" class="button_item"
        (click)="onDeleteBlog()"
        *ngIf="admin">удалить блог</button>
<button mat-flat-button   color="primary" class="button_item"
        (click)="onEditBlog()"
        *ngIf="admin">Редактировать блог</button>
<br>
</mat-card>
