.img_conteiner{
  display: flex;
  align-items: center;
  justify-content: center;

}
.anim_conteiner{
  position: relative;
}
.img_conteiner img{
  max-width: 600px;
  display: flex;
  margin: 0px;
}
.img_logo{
  position: relative;
}
.img_pen{
  position: absolute;
  display: block;
  transform: scale(0.7, 0.7);

  top:140px;

  animation-name:pen ;
  animation-direction: alternate;
  animation-duration: 6s;
  animation-iteration-count: infinite;

}
.button_conteiner{
  display: flex;
  justify-content: center;
}
@keyframes pen {
  0%{

    left:180px;
  }
  10%{

  }
  50%{

    left:220px
  }
  100%{

    left:180px
  }
}
